{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
</head>
<body>
    {% block body %}
    
    <div class="row" style="margin-top: 150px;">
        <div class="col-md-6 offset-md-3">
        <h1 style="text-align: center; ">Foody Store </h1>

            <p  class="text-center" style="font-family: 'Times New Roman', Times, serif; font-size: 30px; display:ruby-text-container">
                This website has made by using django. In the main page you can see multiple plates of food, 
                there is a button where can see the details of that plate, if you want to add a special plate,
                you should to login if you have account, if you don't have one, you can create one by click on
                register buttun on the navbar, whenever you logged in, you will have the authetication to update
                or delete that plate.<br>
                >>Momayaz Al-Doos<<
             </p>
        </div>
    </div>
    
    {% endblock %}
</body>
</html>